@import url('common.css');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    scrollbar-width: 5px;
    background-color: #1f2b21;
}

.section1 {
    background-image: url('images/image.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    margin-bottom: 20px; 
    
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 90px;
    left: 20px;
    font-size: 8em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
}

header h3 {
    font-family: "Cedarville Cursive";
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 4em;
    color: white;
}

.home {
    display: flex;
    height: e;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1f2b21;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0; /* Added padding for space inside the home section */
    margin-bottom: 20px; /* Added space between home section and images section */
}

.homepage-text {
    text-align: center;
    padding: 50px 20px;
}

@media (max-width: 1200px) {
    header h1 {
        font-size: 6em;
    }

    header h3 {
        font-size: 3em;
    }
}

@media (max-width: 900px) {
    header h1 {
        font-size: 4em;
    }

    header h3 {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2.5em;
        bottom: 50px;
    }

    header h3 {
        font-size: 1.5em;
        bottom: 10px;
    }

    .homepage-text {
        padding: 30px 10px;
    }

    .food-items {
        flex-direction: column;
        align-items: center;
        padding: 0 10px; /* Adjusted padding */
    }

    .food-item {
        flex: 1 1 100%;
        margin: 20px 0; /* Increased margin */
    }

    .food-item img {
        width: 100%;
        height: auto;
    }

    .info {
        padding: 10px;
    }

    .navigation-bar li {
        flex: 100%;
    }

    .navigation-bar li a {
        text-align: left;
        padding: 14px;
    }

    /* Add margin between sections */
    .section {
        margin-bottom: 20px;
    }
}

.food-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.food-item {
    flex: 1 1 calc(50% - 20px); /* Change 25% to 50% for better layout on smaller screens */
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.food-item:hover {
    transform: scale(1.05);
}

.food-item img {
    max-width: 100%;
    height: 130px;
    width:130px
}

.info {
    padding: 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px; /* Added padding to the top of the images section */
}

.images img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px), (height: 768px) {
    .food-items {
        flex-direction: column;
        align-items: center;
    }

    .food-item {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

@media (min-width: 600px) {
    .images img {
        width: calc(50% - 5px);
        margin-bottom: 10px;
    }
}

@media (min-width: 900px) {
    .images img {
        width: calc(25% - 5px);
        margin-bottom: 0;
    }
}
